<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='style.css') }}">
    <script type="text/javascript" src="static/script.js"></script>
    <title>Preview</title>
  </head>
  <body>
    <div id="center">

      <figure>
        <img src='/photos/{{path}}' id="preview">
      </figure>
      <figcaption> {{ path }} </figcaption>

      <table class="center">
        <thead>
          <tr>
            <th> Property </th>
            <th> Value </th>
          </tr>
        </thead>
        {% for key, value in metadata.items() %}
        <tr>
          <td>{{key}}</td>
          <td>{{value}}</td>
        </tr>
        {% endfor %}
      </table>

    </div>
  </body>
</html>
